@font-face {
    font-family: 'Hacker';
    src: url("/assets/fontes/Mad Hacker.ttf");
}
body{
    font-family: 'Hacker';
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: end;
    
}
.btn{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 10px;
}
.teme-light{
    background-color: white;
    color: black;
}
.teme-dark{
    background-color: black;
    color: white;
}
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
